<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">New project</h5>
      <br/>
      <form #f="ngForm" (ngSubmit)="onNewProj(f)" novalidate>
        <div class="form-row">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputCity">Playlist URL</label>
              <input
              name="playlistUrl"
              type="text"
              placeholder="Full YouTube playlist URL..."
              class="form-control"
              required
              ngModel
              #email="ngModel">
              <div class="form-control-feedback" *ngIf="email.touched && email.errors?.required">
                Please enter an URL.
              </div>
            </div>
            <div class="form-group col-md-5">
                <label for="inputCity">Number of videos</label>
                <input
                name="numberVideos"
                type="number"
                placeholder=""
                min="1"
                max="5"
                class="form-control"
                required
                ngModel
                #numberVideos="ngModel">
                <div class="form-control-feedback" *ngIf="email.touched && email.errors?.required">
                  Please enter a number.
                </div>
              </div>
            <hr/>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary">Create project</button>
              </div>
          </div>
      </div>
    </form>
  </div>  
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2></h2>
    <div class="card">
      <h5 class="card-header">Existing projects</h5>
      <pre>{{items | async | json}}</pre>
      <table *ngIf="items | async" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th style="width: 30%;">YT URL</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items | async">
            <td>{{item.key}}</td>
            <td>{{item.playlistUrl}}</td>
            <td>
              <div class="spinner" *ngIf="item.processing_status !== 'New' && item.processing_status !== 'Exported'">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
              </div>
              <a *ngIf="item.processing_status === 'Exported'" target="_blank" href="{{item.final_export_url}}">Exported</a>
              <p *ngIf="item.processing_status !== 'Exported'">{{item.processing_status}}</p>
              
            </td>
            <td><button (click)="processItem(item.key)">Process</button>&nbsp;<button (click)="deleteItem(item.key)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <button style="color:red;" *ngIf="items | async" (click)="deleteEverything()">Delete all</button>
    </div>
  </div>  
</div>
